
@font-face {
    font-family: 'dumb_font';
    src: url('../fonts/2Dumb-webfont.woff') format('woff'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dumb_font';
    src:url('../fonts/3Dumb-webfont.woff') format('woff');
  
    font-weight: bold;
    font-style: normal;


}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Arial Narrow Bold', sans-serif
}

body{
    background-color: #252422;
    color: #FFFCF2;
    text-align: center;
    
    align-content: center;
    
    
}

img {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;


   
    
} 

nav {

    background-color: #EB5E28;
    text-align: center;
    
    
   
    


}



nav li {

   
    font-size: 15px;
    padding: 15px;
    display: inline-block;
        
   
   
    
    

    
    
    
    
}



nav a:link{
    color: #252422;
    text-decoration: none;
    
    
}

nav a:hover{
    color: #252422;
    text-decoration:underline;
    background-color: #f17646;
    
    
    
}
nav a::after{
    color: #252422;
}


nav a:visited{
    color: #252422;
}


.index_min_pc{
    color: #EB5E28;
}
h1,h2,h3,h4{
    font-family: 'dumb_font';
    line-height: 1.5em;
    color: #EB5E28;
    
}

h1{
    line-height: 2em;
    
}


p{
    font-size: 0.8em;
    line-height: 1.5em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
    
    
}


